*{
	margin: 0; /* body=8px */
	padding: 0;  /* 列表 button */
	text-decoration: none; /* 清除下划线 a */
	outline: none; /* 轮廓 button */
	list-style: none /* 取消ul-li的小黑点 */
}
img{
	width: 100%;
	height: 100%;
}